body {
    width: 100%;
    height: 100%;
}
.icone-header {
    width: 10%;
    height: 10%;
    margin: 20px;    
}
.logo-header {
    width: 10%;
    height: 10%;
    margin: 20px;
}
header {
    display: flex; 
    justify-content: space-between;
    background-color: #606060;
    width: 100%;
    height: 100%;   
}
.secao1 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.celular {
    width: 40%;
    height: 40%;
}
.textos1 h1 {
    margin-bottom: 90px;
    margin-top: 0px;
}
.textos1 button{
    color: black;
    margin-top: 45px;
    border-radius: 15px;
    padding: 25px;
    background-color: rgb(0, 140, 255);
    text-align: center;
}
.textos1 button:hover {
    background-color: black;
    color: white;
}
.secao2 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(197, 197, 197);
    border: 1px solid black;
}
.secao2 img {
    width: 30%;
    height: 30%;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
}
.textos2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.textos2 p {
    text-align: justifycenter;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
}
.secao3 {
    display: flex;
    justify-content: center;
}
figure.foto-legenda h1 {
    text-indent: 0px;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 35px;
}
figure.foto-legenda p {
    text-indent: 0px;
    text-align: left;
    color: white;
    font-weight: bold;
}
figure.foto-legenda {
    width: 40%;
    height: 100%;
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px rgba(0,0,0,.5)
}
figure.foto-legenda img {
    width: 80%;
    height: 100%;
}
figure.foto-legenda figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.6);
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.secao3 button {
    color: black;
    margin-top: 200px;
    border-radius: 15px;
    padding: 25px;
    background-color: rgb(0, 140, 255);
    text-align: center;    
}
.secao3 button:hover {
    background-color: black;
    color: white;
}
.titulo-secao3 {
    text-align: center;
}
.secao4 {
    padding: 40px;
    background-color: rgb(197, 197, 197);
    border: 1px solid black;
}
.linha1 {
    display: flex;
    justify-content: space-between;
}
.linha2 {
    display: flex;
    justify-content: space-between;
}
.imagens-texto {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.secao4 p {
    margin-left: 10px;
}
.secao4 h1 {
    text-align: center;
    margin-top: 5px;
}
.secao5 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.caixa {
    border: 1px solid black;
    padding: 20px;
    width: 250px;
    height: 180px;
}
.titulo-caixa {
    display: flex;
    justify-content: row;
    align-items: center;
}
.secao5 p {
    text-align: right;
    width: 90%;    
}
.secao5-titulo-botao {
    text-align: center;
}
.secao5-titulo-botao button {
    color: black;
    border-radius: 15px;
    padding: 25px;
    background-color: rgb(0, 140, 255);
    text-align: center;
    margin-top: 1px;
    margin-bottom: 15px;
}
.secao5-titulo-botao button:hover {
    background-color: black;
    color: white;
}
.secao6 {
    background-color: rgb(197, 197, 197);
    border: 1px solid black;
}
.icones6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    width: 100%;
    height: 100%;
}
.icones6-alinhar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secao6 h1 {
    text-align: center;
}
.secao7 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #606060;
}
.esquerda {
    width: 50%;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.direita {
    width: 50%;
    text-align: center;
}
.esquerda p {
    font-size: 14px;
}
.direita p {
    text-align: center;
}
.direita button {
    margin-top: 5px;
}
.direita button {
    color: black;
    border-radius: 15px;
    padding: 25px;
    background-color: rgb(0, 140, 255);
    text-align: center;
    margin-top: 1px;
    margin-bottom: 15px;
}
.direita button:hover {
    background-color: black;
    color: white;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 15px;
}
